.community:hover{
    color: rgb(143, 110, 110);
}

.community{
    transition:0.5s ease-in-out;
}

.portfolio-box:hover{
    border-radius:20px;
    background: rgb(143, 110, 110);
}

.portfolio-box{
    -webkit-transition: background 0.5s ease-in-out, border-radius 1s ease-in-out;
    transition: background 0.5s ease-in-out, border-radius 1s ease-in-out;
}