body{
  color: rgb(255, 252, 239) !important;
   
}
html{
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
  
}

@media (max-width: 768px) {
  .wrapper{
    min-height: 150vh;
  }
}

.navbar-collapse {
  justify-content: center;
  margin:0;
}

.top-bar__img {
  width: 100%;
  height: 100vh;
}

.pageTitle{
  margin-top: 40px;
  font-family: 'IBM Plex Mono', monospace !important;
}

.background {
  background: rgb(0, 0, 0);
  /* background: url("images/background.jpg") no-repeat; */
  background-size: 100% auto;
  position: fixed;
  width: 200%;
  height: 300%;
  top: 0;
  left: 0;
  z-index: -1
}

.wrapper {
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 100;
  font-size: 1.25rem;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 70px 20px 0 20px;
  display: block; 
  position: relative;
}

.photo{
  margin: auto;
  height:220px;
  weight:200px;
}

.line{
  bottom:50%;
  width: 100%;
  height: 50vh;
  background-color:white;
  position: absolute;
  z-index: -1;
}

.author{
  margin:50px 0 0 0;
  display:block;
  width:100%;
  position: relative;
}

.author-description{
  display:block;
}

.pageTitle{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.pageSubTitle{
  margin:20px;
}

.section-article{
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


