body{
  color: rgb(255, 252, 239) !important;
   
}
html{
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
  
}

@media (max-width: 930px) {
  .row-wrapper{
    width: 100%;
    height: auto !important;
  }
  .row-text{
    font-size: 0.75rem;
  }
  .section-article, #section5, .beer{
    font-weight: 300 !important;
    font-size:0.8rem !important;
  }
}

@media (min-width: 930px){
 .vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
 }

}


.row-wrapper {
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 100;
  font-size: 1.25rem;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 70px 20px 0 20px;
  position: relative;
}


.pageTitle{
  margin-top: 30px;
  font-family: 'IBM Plex Mono', monospace !important;
}

.background {
  background: rgb(0, 0, 0);
  /* background: url("images/background.jpg") no-repeat; */
  background-size: 100% auto;
  position: fixed;
  width: 200%;
  height: 300%;
  top: 0;
  left: 0;
  z-index: -1
}

.wrapper {
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 100;
  font-size: 1.25rem;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 70px 20px 0 20px;
  position: relative;
}

.pageTitle{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.pageSubTitle{
  margin:20px;
  text-align: center;
}

.portfolio-box{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.transparent-input{
  color:white !important;
}


